
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weather-styles.css') }}"/>
</head>
<body>

    <div id="container">
        <!-- user input for city, passed to backend for api fetch -->
    <form class="form" method="POST">
        <label for="name">Enter City Name:</label>
        <input type="text" class="form-control" id="city-input" name="city-input">
    </form>

    <h2>Weather APP</h2>
    <h1>{{ weather.city }}</h1>
    <h1>{{ weather.temp }}</h1>
    <h1>{{ weather.descript}} </h1>
    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">s
    </div>

</body>
</html>